

#main {
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans';

}

.photos-part {
    display: flex;
    flex-direction: column;
}

.main-photo-btn {
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: none;
}

.main-product-image {
    z-index: -2;
}

.main-photo {
    width: 100%;
    object-fit: cover;
}

.mobile-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    /* margin-top: -60%; */
    position: relative;
    /* margin-top: -50%; */
}

.previous {
    position: absolute;
    padding: 0.9rem 1.1rem;
    background-color: #e5e5e5;
    border-radius: 50%;
    display: flex;
    left: 1rem;
    margin-top: -100%;

}

.next {
    position: absolute;
    padding: 0.9rem 1.1rem;
    background-color: #e5e5e5;
    border-radius: 50%;
    display: flex;
    right: 1rem;
    margin-top: -100%;

}

.thumbnail-imgs {
    display: none;
}


.info-part {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
}

.orange-header {
    font-family: 'Kumbh Sans';
    text-transform: uppercase;
    font-size: 0.9rem;
    color:hsl(26, 100%, 55%)
}

.fall-header {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.info-para {
    font-size: 0.8rem;
    color: grey;
    margin-top: 1rem;
    line-height: 1.2rem;
}

.price-discount-original {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.price-discount {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

.discount {
    padding: 0.4rem;
    color:hsl(26, 100%, 55%);
    font-weight: bold;
    background-color: hsl(25, 100%, 94%);
    border-radius: 10px;
}

.original-price {
    color: hsl(219, 9%, 45%);
    font-size: 0.8rem;
    text-decoration: line-through;
}

.bnts-part {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 1rem;
}

.number-of {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: hsl(220, 9%, 93%);
    border-radius: 10px;
}

.change-num {
    border: none;
    outline: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}

.number-of-num {
    font-weight: bold;
}

.add-to-cart {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: hsl(26, 100%, 55%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.cart-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(103%) contrast(103%);
}



@media screen and (min-width: 760px)  {
    #main {
        flex-direction: row;
        gap: 1rem;
        width: 80%;
        margin: 0 auto;
        justify-content: space-around;
        height: auto;
        margin-bottom: 2rem;
    }

    .photos-part {
        max-width: 50%;
        margin-top: 5rem;
    }

    .main-product-image {
        width: 22rem;
        z-index: 2;
    }

    .main-photo-btn {
        border-radius: 20px;
        outline: none;
        border: none;
    }
    .main-photo {
        border-radius: 20px;
        cursor: pointer;

    }
    

    .mobile-arrows {
        display: none;
    }

    .thumbnail-imgs {
        margin-top: 1rem;
        width: 20rem;
        display: flex;
        gap: 1rem;
        max-width: 50%;
    }

    .thumb-btn{
        border-radius: 10px;
        outline: none;
        border: none;    
        width: 4.8rem;
        height: 4.8rem;
    }
    .thumb-btn:focus {
        /* border: 2px solid hsl(26, 100%, 55%); */
        outline: 2px solid red;
        opacity: 0.5;
    }

    .thumb-img {
        width: 4.8rem;
        height: 4.8rem;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .thumb-img:hover {
        border: 2px solid hsl(26, 100%, 55%);
    }

    .info-part {
        margin-top: 5rem;
        max-width: 20rem;
    }

    .price-discount-original {
        flex-direction: column;
        align-items: flex-start;
    }
    .original-price {
        margin-top: 0.5rem;
    }

    .bnts-part {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

}