/* @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap') */

nav {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 99999;
    /* background-color: #e5e5e5; */
}

.desktop-menu {
    display: none;
}
.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.ham-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-icon {
    margin-top: 5px;
    z-index: 999;
}
.mobile-logo {
    z-index: -2;
}

.cart-image-order {
    display: flex;
    align-items: center;
}

.order-num {
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    background-color:hsl(26, 100%, 55%);
    color: white;
    font-weight: bold;
    font-size: 8px;
    font-family: 'Kumbh Sans';
    position: absolute;
    margin-bottom: 15px;
    margin-left: 10px;
}

.cart-image-mobile {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.avatar-mobile {
    cursor: pointer;
    width: 1.5rem;
    border: 1px solid transparent;
}

.avatar-mobile:hover {
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid hsl(26, 100%, 55%);
}

.mobile-list {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    z-index: -1;
    top: 0;
    width: 60%;
    background-color: #fff;
    height: 100vh;
}

.mobile-item:first-of-type {
    margin-top: 5rem;
}
.mobile-item {
    margin-left: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    color: black;
    font-weight: bold;
    font-family: 'Kumbh Sans';
}

.mobile-item:hover {
    color: rgb(102, 101, 101);
}

/* desktop style */
@media screen and (min-width: 760px) {
    .desktop-menu {
        display: flex;
        align-items: center;
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
        border-bottom: 1px solid rgb(197, 193, 193);
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .list-items {
        display: flex;
        gap: 1rem;
        color: grey;
    }

    .desktop-item {
        text-decoration: none;
        list-style-type: none;
        color: grey;
        text-transform: capitalize;
        cursor: pointer;
        font-size: 14px;
    }

    .cart-image-order {
        display: flex;
        align-items: center;
    }

    .order-num {
        padding: 2px 8px 2px 8px;
        border-radius: 10px;
        background-color:hsl(26, 100%, 55%);
        color: white;
        font-weight: bold;
        font-size: 8px;
        font-family: 'Kumbh Sans';
        position: absolute;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    .cart-image {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        cursor: pointer;
    }


    .avatar {
        width: 2rem;
        border: 2px solid transparent;
    }

    .avatar:hover {
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid hsl(26, 100%, 55%);
    }

    .mobile-menu {
        display: none;
    }
}